/* Custom styles */
#map {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#directions-panel {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--bs-secondary-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
}

@media (max-width: 767px) {
    #map {
        height: 300px;
        margin-bottom: 20px;
    }
}
